/* Utilities */
.container {
    width: 100%;
}
.test {
    border: 1px solid red;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.btn {
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
    cursor: pointer;
}
.btn-blue {
    background-color: #5ab7d4;
    color: white;
}
.hidden {
    display: none;
}

/* Register */
.register-title {
    font-size: 30px;
    font-weight: bolder;
    margin: 1%;
}
.register-subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1%;
}
.form {
    align-items: flex-start;
    width: 40vw;
    padding: 2% 0;
}
.form * {
    width: 92%;
    border-radius: 5px;
}
.form > * {
    margin: 0 4%;
}
.form input,
.form select {
    border: 1px solid #999;
    padding: 2%;
    margin-bottom: 3%;
}
.form ::placeholder {
    padding-left: 1%;
    font-size: 14px;
}
.register-parag {
    margin: 2%;
    max-width: 40vw;
}
.register-parag a {
    color: #5ab7d4;
}
.register-parag a:hover {
    cursor: pointer;
}

/* Login */
.modal {
    background-color: aquamarine;
    border-radius: 15px;
    border: transparent;
    margin: auto;
}
.modal::backdrop {
    background: black;
    opacity: 0.4;
    overflow: hidden;
    user-select: none;
}

/* 
Landing
*/

/* nav bar */
.navigation {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 100%;
    position: fixed;
}
.logo {
    height: 30px;
    width: 30px;
    margin: 25px;
    margin-left: 50px;
}
.title {
    font-size: 30px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    font-weight: bold;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.nav-item {
    cursor: pointer;
    font-size: 18px;
}
.nav-item:hover {
    color: white;
}
.nav-links button {
    margin-bottom: 10px;
}
.nav-links button:hover {
    color: black;
}
.nav-selected {
    text-decoration: underline;
    color: #5ab7d4;
}
.nav-selected:hover {
    color: #5ab7d4;
}

/* Feed */
.feed-container {
    position: absolute;
    top: 80px;
    z-index: -1;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}
.card {
    width: 200px;
    height: 250px;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background-color: aquamarine;
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Profile view Modal */
.modal {
    background-color: white;
    border-radius: 15px;
    margin: auto;
    width: 700px;
    border: transparent;
    padding: 2%;
}
.modal::backdrop {
    background: black;
    opacity: 0.4;
    overflow: hidden;
    user-select: none;
}
.modal-title {
    justify-content: space-between;
    margin-bottom: 2%;
}
.modal-image {
    height: 400px;
    width: 300px;
    flex: 0 1 60%;
}
.modal-info {
    width: 300px;
    height: 400px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 25px;
}
.modal-info * {
    margin: 5%;
}
.modal-btns {
    margin-top: 2%;
    justify-content: space-between;
}
.modal-btns * {
    text-decoration: none;
}
